<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DupeClear.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DupeClear.Properties.Settings>
            <setting name="ActivationEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="ActivationCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DayZero" serializeAs="String">
                <value>1753-01-01</value>
            </setting>
            <setting name="SearchExtensions" serializeAs="String">
                <value>All files (*.*)</value>
            </setting>
            <setting name="ExcludedExtensions" serializeAs="String">
                <value/>
            </setting>
            <setting name="DateCreatedFrom" serializeAs="String">
                <value>1980-01-01</value>
            </setting>
            <setting name="DateCreatedTo" serializeAs="String">
                <value>2020-12-31</value>
            </setting>
            <setting name="DateModifiedFrom" serializeAs="String">
                <value>1980-01-01</value>
            </setting>
            <setting name="DateModifiedTo" serializeAs="String">
                <value>2020-12-31</value>
            </setting>
        </DupeClear.Properties.Settings>
    </userSettings>
</configuration>
